{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forumkomentar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forumKomentar.id }}</td>
            </tr>
            <tr>
                <th>Isikomentar</th>
                <td>{{ forumKomentar.isiKomentar }}</td>
            </tr>
            <tr>
                <th>Statusdisplay</th>
                <td>{% if forumKomentar.statusDisplay %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if forumKomentar.createAt %}{{ forumKomentar.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if forumKomentar.updateAt %}{{ forumKomentar.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('forumkomentar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('forumkomentar_edit', { 'id': forumKomentar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
