{% extends "LayoutBundle:Paper:index.html.twig" %}
{% block slider %}
{% endblock %}
{% block contentkiri %}
	<h2 class="title">PENGUMUMAN PMKL SE-JABODETABEK</h2>
	<div class="row" >
		<div class="table-responsive" style="padding-left:15px">
		  <table class="table table-bordered table-striped table-hover table-condensed">
		    <thead>
		    	<th>Nomor</th>
		    	<th>Waktu</th>
		    	<th>Tempat</th>
		    	<th>Judul</th>
		    	<th>Topik</th>
		    </thead>
		    <tbody>
		    	{% for pengumuman in pengumumans %}
		    	<tr>
		    		<td>{{loop.index}}</td>
		    		<td>{{pengumuman.waktuDiadakan|date("d-m-Y H:s")}}</td>
		    		<td>{{pengumuman.tempatDiadakan}}</td>
		    		<td>
		    			<a href="{{url('front_pengumuman_org_slug',{'slug':pengumuman.slug})}}">
		    				{{pengumuman.judulPengumuman}}
		    			</a>
		    		</td>
		    		<td>{{pengumuman.topikPengumuman|raw}}</td>
		    	</tr>
		    	{% endfor %}
		    </tbody>
		  </table>
		</div>
	</div>
{% endblock contentkiri %}
