<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="webthemez">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}PMKL{% endblock %}</title>
<link rel="stylesheet" href="{{asset('bundles/comprof/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/flexslider.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/jquery.fancybox.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/main.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/responsive.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/font-icon.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/animate.min.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/custom-radumta.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/custom-cardanggota.css')}}">
<link rel="stylesheet" href="{{asset('bundles/comprof/css/custom-footer.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/comprof/css/style4.css')}}" />
<link rel="stylesheet" href="{{asset('bundles/adminlte/bootstrap/font-awesome/css/font-awesome.css')}}">

</head>

<body>
{% block header_nav %}
<section class="banner" role="banner" id="home">
  <header id="header" class="fixed">
    <div class="header-content clearfix"> 
      <a class="logo" href="index.html">PMKL </a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
		      <li><a href="{{url('front_end_index')}}">Home</a></li>
          <li><a href="{{url('front_profileorg')}}">Profile</a></li>
          <li><a href="{{url('front_anggota')}}">Anggota</a></li> 
          <li><a href="{{url('front_strukturorg')}}">Struktur</a></li>
          <li><a href="{{url('front_keuanganorg')}}">Keuangan</a></li>
          <li><a href="{{url('front_galleryorg')}}">Galery</a></li>
          <li><a href="{{url('front_progkerjaorg')}}">Program Kerja</a></li>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{url('fos_user_security_logout')}}">LOGOUT</a></li>
          {% else %}
            <li><a href="{{url('fos_user_security_login')}}">LOGIN</a></li>
          {% endif %}
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text --> 
{% block slider %}
<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade intro">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row"><div class="container">
                    <div class="col-md-3 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="{{asset('bundles/comprof/images/icon1.png')}}">
                    </div>
                    <div class="col-md-9 text-left">
                        <h4 data-animation="animated bounceInDown">
                          PERSATUAN MUDA-MUDI KECAMATAN LINTONGNIHUTA SE-JABODETABEK
                        </h4>
                        <h4 data-animation="animated bounceInUp">
                          TEGAS BERANI DAN BERJUANG
                        </h4>             
                     </div>
                </div></div>
             </div> 
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">Best for Corporate Business</h3>
                        <h4 data-animation="animated bounceInUp">Create beautiful slideshows </h4>
                     </div>
                    <div class="col-md-5 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="{{asset('bundles/comprof/images/icon2.png')}}">
                    </div>
                </div></div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">Simple Bootstrap Carousel</h3>
                        <h4 data-animation="animated bounceInUp">Bootstrap Image Carousel Slider with Animate.css</h4>
                     </div>
                    <div class="col-md-5 text-right">
                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="{{asset('bundles/comprof/images/icon3.png')}}">
                    </div>     
                </div></div>
            </div>     
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock slider %} 
</section>
{% endblock header_nav %}

{% block content %}
{% endblock content %}
{% block footer %}
<footer id="myFooter">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              {# <h2 class="logo"><a href="#"> LOGO </a></h2> #}
              <img class="profile-img" src="{{asset('bundles/comprof/images/pmkl.png')}}"
                  alt="">
          </div>
          <div class="col-sm-2">
              <h5>Get started</h5>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Sign up</a></li>
                  <li><a href="#">Downloads</a></li>
              </ul>
          </div>
          <div class="col-sm-2">
              <h5>About us</h5>
              <ul>
                  <li><a href="#">Company Information</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Reviews</a></li>
              </ul>
          </div>
          <div class="col-sm-2">
              <h5>Support</h5>
              <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Help desk</a></li>
                  <li><a href="#">Forums</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <div class="social-networks">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
              </div>
              <button type="button" class="btn btn-default">Contact us</button>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <p>© {{ "now"|date('Y') }}-{{ "now + 3 year"|date('Y') }} Radumta Sitepu </p>
  </div>
</footer>
{% endblock footer %}
<!-- Footer section --> 
{% block javascripts %}
  {# // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> #}
  <script src="{{asset('bundles/comprof/js/jquery.min.js')}}"></script> 
  <script src="{{asset('bundles/comprof/js/bootstrap.min.js')}}"></script> 
  <script src="{{asset('bundles/comprof/js/jquery.flexslider-min.js')}}"></script> 
  <script src="{{asset('bundles/comprof/js/jquery.fancybox.pack.js')}}"></script> 
  <script src="{{asset('bundles/comprof/js/retina.min.js')}}"></script> 
  <script src="{{asset('bundles/comprof/js/modernizr.js')}}"></script> 
  <script src="{{asset('bundles/comprof/js/main.js')}}"></script> 
  <script src="{{asset('bundles/comprof/js/jquery.contact.js')}}"></script>
  <script src="{{asset('bundles/comprof/js/chartorganisasi.js')}}"></script>
  <script src="{{asset('bundles/fosjsrouting/js/router.js')}}"></script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}">
  </script>
{% endblock javascripts %}
</body>
</html>