{% extends 'base.html.twig' %}

{% block body %}
    <h1>Foslogoorg</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fosLogoorg.id }}</td>
            </tr>
            <tr>
                <th>Namalogo</th>
                <td>{{ fosLogoorg.namaLogo }}</td>
            </tr>
            <tr>
                <th>Deskripsilogo</th>
                <td>{{ fosLogoorg.deskripsiLogo }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if fosLogoorg.createAt %}{{ fosLogoorg.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if fosLogoorg.updateAt %}{{ fosLogoorg.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ fosLogoorg.imageName }}</td>
            </tr>
            <tr>
                <th>Setlogodefault</th>
                <td>{% if fosLogoorg.setlogoDefault %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('foslogoorg_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('foslogoorg_edit', { 'id': fosLogoorg.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
