{% extends "LayoutBundle:FrontEnd:index.html.twig" %}
{% block slider %}
{% endblock slider %}
{% block content %}
	
<section id="services" class="services service-section">
<div class="container">
   {% for fosProfile in fosProfiles %}
   	<div class="col-md-3">
		<div class="panel widget">
		  	<div style="background-image: url('{{asset('comprof/images/images-background.jpg')}}')" class="panel-body text-center bg-center">
		     <div class="row row-table">
		        <div class="col-xs-12 text-white">
		        	{% if fosProfile.imageName %}
		        		<img src="{{('adminlte/anggota_pic/'~ fosProfile.imageName)| imagine_filter('anggota_front')}}" alt="" class="img-thumbnail img-circle thumb128">
		        	{% else %}
		           		<img src="{{asset('comprof/images/pmkl.png')}}" alt="Image" class="img-thumbnail img-circle thumb128">
		       		{% endif %}
		           <h5 style="color:#dadee2">{{ fosProfile.namaLengkap }}</h5>
		        </div>
		     </div>
		  </div>
		  <div class="list-group">
		     <a href="#" class="list-group-item">
		        <span class="pull-right"><i class="fa fa-envelope"></i></span>
		        radumta@gmail.com</a>
		     <a href="#" class="list-group-item">
		        <span class="pull-right"><i class="fa fa-bullhorn"></i></span>
		        {{ fosProfile.nomorHandphone }}</a>
	        {# <a href="#" class="list-group-item">
		        <span class="pull-right"><i class="fa fa-hourglass"></i></span>
		        Newbie
		    </a>
		    <a href="#" class="list-group-item">
		        <span class="pull-right"><i class="fa fa-calendar"></i></span>
		        12 Maret 2017
		    </a> #}
		  </div>
		</div>
   	</div>
   {% endfor %}
</div>
</section>
{% endblock content %}