{% extends "LayoutBundle:Paper:index.html.twig" %}
{% block slider %}
{% endblock slider %}
{% block contentkiri %}
    <h2 class="title">GALLERY PMKL SE-JABODETABEK</h2>
	<div class="row">
		<div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <div id="links" class="links">
            <a href="{{asset('adminlte/dist/img/photo1.png')}}" title="Banana">
                <img src="{{asset('adminlte/dist/img/photo1.png')| imagine_filter('gallery_thumb')}}" alt="Banana">
            </a>
            <a href="{{asset('adminlte/dist/img/photo2.png')}}" title="Apple">
                <img src="{{asset('adminlte/dist/img/photo2.png')| imagine_filter('gallery_thumb')}}" alt="Banana">
            </a>
            <a href="{{asset('adminlte/dist/img/photo3.jpg')}}" title="Orange">
                <img src="{{asset('adminlte/dist/img/photo3.jpg')| imagine_filter('gallery_thumb')}}" alt="Banana">
            </a>
            <a href="{{asset('adminlte/dist/img/photo4.jpg')}}" title="Banana">
                <img src="{{asset('adminlte/dist/img/photo4.jpg')| imagine_filter('gallery_thumb')}}" alt="Banana">
            </a>
            <a href="{{asset('adminlte/dist/img/photo1.png')}}" title="Banana">
                <img src="{{asset('adminlte/dist/img/photo1.png')| imagine_filter('gallery_thumb')}}" alt="Banana">
            </a>
            <a href="{{asset('adminlte/dist/img/photo2.png')}}" title="Apple">
                <img src="{{asset('adminlte/dist/img/photo2.png')| imagine_filter('gallery_thumb')}}" alt="Banana">
            </a>
            <a href="{{asset('adminlte/dist/img/photo3.jpg')}}" title="Orange">
                <img src="{{asset('adminlte/dist/img/photo3.jpg')| imagine_filter('gallery_thumb')}}" alt="Banana">
            </a>
            <a href="{{asset('adminlte/dist/img/photo4.jpg')}}" title="Banana">
                <img src="{{asset('adminlte/dist/img/photo4.jpg')| imagine_filter('gallery_thumb')}}" alt="Banana">
            </a>
        </div>
   	</div>
   	<script>
        document.getElementById('links').onclick = function (event) 
        {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
{% endblock contentkiri %}