{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fostypepengeluaran</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fosTypepengeluaran.id }}</td>
            </tr>
            <tr>
                <th>Namatype</th>
                <td>{{ fosTypepengeluaran.namaType }}</td>
            </tr>
            <tr>
                <th>Deskripsitype</th>
                <td>{{ fosTypepengeluaran.deskripsiType }}</td>
            </tr>
            <tr>
                <th>Statusdisplay</th>
                <td>{% if fosTypepengeluaran.statusDisplay %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if fosTypepengeluaran.createAt %}{{ fosTypepengeluaran.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateat</th>
                <td>{% if fosTypepengeluaran.updateAt %}{{ fosTypepengeluaran.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fostypepengeluaran_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fostypepengeluaran_edit', { 'id': fosTypepengeluaran.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
